.btn_style_positive {
  background: rgb(77,92,106);
  float:right;
  padding-left:10px;
  padding-right:10px;
  text-transform:capitalize;
  font-size:14px;
  color:white;
  margin:6px;
}
.btn_style_negative {
  background: rgba(77,92,106,0.6);
  float:right;
  padding-left:10px;
  padding-right:10px;
  text-transform:capitalize;
  font-size:14px;
  color:white;
  margin:6px;
}


*{
  margin: 0;
  padding: 0;
}
